body {
  overflow-x: hidden;
}

.logo img {
  height: 1.79rem;
}

/* Navbar */

.navbar-custom {
  background-color: #043873;
  font-size: 0.9rem;
  font-weight: 300;
}

.navbar-custom .nav-link,
.navbar-custom .navbar-brand {
  color: white !important;
}


.navbar-custom .nav-link:hover {
  color: #f0f0f0 !important;
}

.navbar-custom .dropdown-menu {
  background-color: #043873;
}

.navbar-custom .dropdown-item {
  color: white !important;
}

.navbar-custom .dropdown-item:hover {
  background-color: #011833;
}


.navbar-custom .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.35em;
  content: "";
  border: solid white;
  border-width: 0 1px 1px 0; 
  padding: 2px;
  transform: rotate(45deg);   
  transition: transform 0.2s ease;
}
.navbar-custom .navbar-toggler {
  border-color: white;
}
.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.navbar-buttons .btn {
  padding: 4px 15px;
  font-weight: 500;
  transition: 0.3s;
  margin-left: 10px;
}

.navbar-buttons .btn-login {
  background: #FFE492;
  border: none;
  color: #043873;
  font-size: 0.9rem;
  font-weight: 600;
}

.navbar-buttons .btn-login:hover {
  background: #fad976;
}

.navbar-buttons .btn-try {
  background: #4F9CF9;
  border: none;
  color: white;
  font-weight: 300;
}

.navbar-buttons .btn-try:hover {
  background: #0084b4;

}

/* Hero Section */
.hero {
  background-image: url("images/background1.png");
  background-color: #043873;
    background-repeat: no-repeat;
  background-size: 100%;
  background-position: left 185px;
  min-height: 60vh;
  color: white;
  padding: 60px 0;
}


.hero-text h1 {
  font-family: 'Inter', sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
}

.hero-text p {
  margin: 10px 0;
  font-size: 0.8rem;
  color: #dcdcdc;
}

.btn-free {
  background: #4F9CF9;
  border: none;
  color: white;
  font-weight: 300;
  padding: 10px;
}

.btn-free:hover {
  background: #0084b4;

}

.hero-img img {
  max-width: 100%;
}


.bg {
  background-image: url("images/BACKGROUND.png");
  background-repeat: no-repeat;
  background-position: left 170px;
background-size: 24%;
  min-height: 50vh;
  color: white;
  padding: 100px 120px;
}


.bg-heading {
  position: relative;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
 color: #212529 !important;
  z-index: 1;
}

.bg-heading::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -50px;
  transform: translateX(-55%);
  width: 30rem;
  height: 70px;
  background: url("images/Element1.png") no-repeat center;
  background-size: contain;
  z-index: -1;
}

.bg-text p {
  font-size: 0.9rem;
  line-height: 1.6;
  color: #212529;
}

.btn-free {
  background: #4F9CF9;
  border: none;
  color: white;
  font-weight: 300;
}

.btn-free:hover {
  background: #0084b4;
}

.bg-img img {
  max-width: 100%;
}
.work-together-heading {
  position: relative;
  display: inline-block;
  font-size: 3.2rem;
  font-weight: bold;
 color: #212529 !important;
  z-index: 1;
}
.work-together-heading::after {
  content: "";
  position: absolute;
  left: 75%;
  bottom: -25px;
  transform: translateX(-55%);
  width: 40rem;
  height: 40px;
  background: url("images/Element1.png") no-repeat center;
  background-size: contain;
  z-index: -1;
}
.work-together p {
  font-size: 0.85rem;
  line-height: 1.6;
  color: #212529;

}

.work-together .btn {
  background-color: #4F9CF9;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: 300;
}

.work-img {
  max-width: 93%;
}

.Extention {
  background-color: #043873;
  min-height: 90vh;
  color: white;
  padding: 70px 0;
}

.Extention-heading {
  position: relative;
  display: inline-block;
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
  z-index: 1;
}

.Extention-heading::after {
  content: "";
  position: absolute;
  left: 75%;
  bottom: -25px;
  transform: translateX(-55%);
  width: 40rem;
  height: 40px;
  background: url("images/Element1.png") no-repeat center;
  background-size: contain;
  z-index: -1;
}

.Extention-text p {
  margin: 20px 0;
  font-size: 0.9rem;
  color: #dcdcdc;
}

.Extention-img img {
  max-width: 90%;
}

.needs-section {
  padding: 45px;
}
.customise-heading {
  position: relative;
  display: inline-block;
  font-size: 3.2rem;
  font-weight: bold;
  color: #212529;
}

.customise-heading::after {
  content: "";
  position: absolute;
  left: 28%;
  bottom: -40px; 
  transform: translateX(-52%);
  width: 40rem;
  height: 55px;
  background: url("images/Element1.png") no-repeat center;
  background-size: contain; 
  z-index: -1;
}



.needs-section p {
  font-size: 1rem;
  line-height: 1.6;
  color: #212529;
}

.needs-section .btn {
  background-color: #4F9CF9;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: 400;
}

.customise-img {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 9px;
}
.background {
  position: relative;
  background: url("images/BACKGROUND2.png") no-repeat left bottom;
  background-size: 23%;

}
/* Plans Section */
.plans-section {
  padding: 80px 20px;
  background-color: transparent;
   position: relative;
   z-index: 1;
}
.section-title{
  font-family: sans-serif;
  position: relative;
  display: inline-block;
  font-size: 3.9rem;
  font-weight: bold;
 color: #212529 !important;
}

.section-title::after {
  content: "";
  position: absolute;
  left: 70%;
  bottom: -50px;
  transform: translateX(-50%);
  width: 30rem;
  height: 80px;
  background: url("images/Element1.png") no-repeat center;
  background-size: contain;
  z-index: -1;
}
.plans-section .section-subtitle {
  font-size: 1rem;
  line-height: 1.6;
  color: #212529;
 max-width: 870px;
  margin: 30px auto 70px;
}

.plan-card {
  border: 1px solid #FFE492;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.plan-card .plan-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.plan-card .plan-price {
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: bold;
}

.plan-features li {
  font-size: 0.8rem;
  color: #333;
}

.featured-features li {
  font-size: 0.8rem;
  color: #fff;
}
.btn-skin  {
  font-size: 0.8rem;
  background-color: white;
  border: 1px solid #FFE492;
  padding: 6px 14px;
  border-radius: 6px;
}

.btn-mid {
  font-size: 0.8rem;
  background-color: #4F9CF9;
  color: #fff;
  border-radius: 6px;
  padding: 6px 14px;
}

.plan-card.featured {
  background-color: #043873;
  color: white;
  transform: scale(1.1);
  z-index: 2;
}

.plan-card.featured .plan-price {
  color: #FFE492;
}


/* Work Section */
.work-section { 
  background-color: #043873 !important;
   background: url("images/BACKGROUND2.png") no-repeat left 85%;
    background-repeat: no-repeat; 
     background-size: 24%;
      min-height: 65vh;
      color: white;
       padding-left: 20px; }

.work-section-heading {
  position: relative;
  display: inline-block;
  font-size: 3.2rem;
  font-weight: bold;
  color: white;
  z-index: 1;
}

.work-section-heading::after {
  content: "";
  position: absolute;
  left: 93%;
  bottom: -5px;
  transform: translateX(-55%);
  width: 30rem;
  height: 20px;
  background: url("images/Element2.png") no-repeat center;
  background-size: contain;
  z-index: -1;
}
.work-section p {
  font-size: 0.88rem;
  line-height: 1.6;
  padding-left: 60px;
  padding-right: 70px;
}

.work-section .btn {
  padding: 10px 25px;
  font-weight: 300;
  border-radius: 8px;
  background-color: #4F9CF9;
  color: white;
  border: none;
}
.data {
  margin-top: 6.5rem;
   min-height:70vh;
  color: white;
}
.data-heading {
  position: relative;
  display: inline-block;
  font-size: 3.2rem;
  font-weight: bold;
  color: #212529;
}

.data-heading::after {
    content: "";
  position: absolute;
  left: 75%;
  bottom: -25px; 
  transform: translateX(-52%);
  width: 20rem;
  height: 55px;
  background: url("images/element3.png") no-repeat center;
  background-size: contain; 
  z-index: -1;
}
.data-text p {
  font-size: 0.8rem;
  line-height: 1.6;
  color: #212529;
}

.btn-free {
  background: #4F9CF9;
  border: none;
  color: white;
  font-weight: 300;
}

.btn-free:hover {
  background: #0084b4;

}

.data-img img {
  max-width: 100%;
}

.sponsers-heading {
  position: relative;
  display: inline-block;
  font-size: 3.2rem;
  font-weight: bold;
  color: #212529;
}

.sponsers-heading::after {
  content: "";
  position: absolute;
  left: 70%;
  bottom: -25px; 
  transform: translateX(-52%);
  width: 40rem;
  height: 50px;
  background: url("images/element3.png") no-repeat center;
  background-size: contain; 
  z-index: -1;
}

.sponsor-logo {
  max-height: 50px;
  transition: transform 0.3s ease;
}

.sponsor-logo:hover {
  transform: scale(1.1);
}

/* favorite Section */
.favorite {
  background-image: url("images/vector.png");
    background-repeat: no-repeat;
  background-color: #043873;
  background-position: center 35px;
  background-size: 100%;
  min-height: 87vh;
  color: white;
  padding: 60px 0;
}


.favorite-text h1 {
  padding-right: 60px;
  font-size: 3.2rem;
  font-weight: bold;
}

.favorite-text p {
  margin: 10px 0;
  font-size: 0.95rem;
  color: #dcdcdc;
}

.btn-free {
  background: #4F9CF9;
  border: none;
  color: white;
  font-weight: 300;
}

.btn-free:hover {
  background: #0084b4;

}

.favorite-img img {
  max-width: 95%;
}

.testimonial-heading {
  position: relative;
  display: inline-block;
  font-size: 3.9rem;
  font-weight: bold;
  color: #212529;
}

.testimonial-heading::after {
    content: "";
  position: absolute;
  left: 95%;
  bottom: 20px; 
  transform: translateX(-52%);
  width: 40rem;
  height: 30px;
  background: url("images/element3.png") no-repeat center;
  background-size: contain; 
  z-index: -1;
}

.testimonial-card-white{
  min-height: 350px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}
.testimonial-card-white:hover {
  transform: translateY(-5px);
}

.testimonial-card-blue{
  
  min-height: 350px;
  border-radius: 12px;
  background: #4F9CF9;
  color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}
.testimonial-card-blue:hover {
  transform: translateY(-5px);
}
.testimonial-card-blue h6{
 color: #043873;
 font-size: 1.2rem;
}
.testimonial-card-white h6{
 font-size: 1.2rem;
}
.quote-icon {
  width: 60px;
  height: auto;
}
.testimonial-text {
  font-size: 0.95rem;
  line-height: 1.6;
}
.client-img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border-radius: 50%;
  object-fit: cover;
}
.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border-radius: 50%;
  background: #4F9CF9;
}
.dot.active {
  background: #043873;
}
.today {
  background-color: #043873 !important;
  min-height: 100vh;
  color: white;
}

.today h2 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.today p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 0.5;
}

.today .btn {
  padding: 10px 25px;
  font-weight: 500;
  border-radius: 8px;
  background-color: #4F9CF9;
  color: white;
  border: none;
}
.today img{
  height: 12%;
}
.footer-section {
  background-color: #043873;
  color: #fff;
  font-size: 0.95rem;
}

.footer-logo {
  max-width: 150px;
}

.footer-heading {
  
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer-text {
  color: white;
  font-size: 1rem;
  line-height: 1.6;
}

.footer-section a {
  color: #d0d7e1;
  text-decoration: none;
}

.footer-section a:hover {
  color: #fff;
}
.Overview{
  color: #FFE492;
}

.btn-custom {

padding: 10px 25px;
  font-weight: 500;
  border-radius: 8px;
  background-color: #4F9CF9;
  color: white !important;
  border: none;
}

.footer-divider {
  border-color: rgba(255, 255, 255, 0.2);
  margin: 2rem 0;
}

.footer-icon {
  width: 18px;
  height: 18px;
}




